.wrapper-Main-Product {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .wrapper-Main-Product {
    width: 100%;
  }
}

@media only screen and (max-width: 739px) {
  .wrapper-Main-Product {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
