/* ::-ms-reveal {
    display: none;
} */

.signup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container .signup-form {
    max-width: 28rem;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.signup-container .signup-form .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}

.signup-container .signup-form .login-wrapper {
    font-size: 16px;
    padding-bottom: 24px;
}

.signup-container .signup-form .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.signup-container .signup-form .method {
    margin-top: 10px;
}
.signup-container .signup-form .method-control {
    margin-bottom: 1rem;
}

.signup-container .signup-form .method-action {
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    outline: none;
    border: 1px solid #9d9d9d;
    border-radius: 2rem;
    color: #121212;
    background: var(--color-white);
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    transition: all 0.35s ease;
}
.signup-container .signup-form .method-action:hover {
    background-color: #f1f5f9;
}

.signup-container .signup-form .striped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.signup-container .signup-form .striped .striped-line {
    flex: auto;
    flex-basis: auto;
    border: none;
    outline: none;
    height: 2px;
    background: #dadce0;
}
.signup-container .signup-form .striped .striped-text {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    color:  #121212;
    margin: 0 1rem;
}
    