.wrapper-shop-inter {
  width: 41.5%;
  margin-left: 1.4rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.button-shop-inter {
  border-radius: 36px 36px 36px 36px;
  border: none;
  color: #4d91d2;
  margin-right: 0.4rem;
  cursor: pointer;
  height: 2.1rem;
  padding: 0 15px;
  font-weight: bold;
  margin-bottom: 4rem;
}
.button-shop-inter:hover {
  background-color: #e8e8e8;
}
.button-shop-inter:active {
  background-color: white;
  box-shadow: 2px 2px 5px #4d91d2;
}

.icon-InButton {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 740px) and (max-width: 1024px) {
}

@media only screen and (max-width: 739px) {
  .wrapper-shop-inter {
    width: 100%;
  }
}
