.signup-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-details .signup-details-form {
    max-width: 28rem;
    width: 100%;
    /* margin: 2rem auto; */
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.signup-details .signup-details-form .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}
.signup-details .signup-details-form .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}