.edit-product {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit-product .edit-product-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-product .edit-product-title .main-title-edit {
    width: 98%;
    
}
.edit-product .edit-product-title .main-title-edit p {
    width: fit-content;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #4D91D2;
}
.edit-product .edit-product-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}