.wrapper-SellingProduct {
  font-size: 45px;
  color: #4d91d2;
  text-align: center;
}

.SellingProduct-amount {
  font-size: 12px;
  color: #4d91d2;
  text-align: left;
  margin-top: 5rem;
  color: #6f6f6f;
}

.SellingProduct-listProduct {
  margin-top: 5px;
  padding: 1rem;
  border-top: 3px solid #4d91d2;
  background-color: white;
}

.shop_hotdeals_book {
  /* padding: 0 8%;
  padding-bottom: 120px; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
