.wrapper-Detail-Product {
  width: 100%;
  font-weight: bold;
  /* padding-top: 2rem; */
  font-size: 16px;
  justify-content: center;
  margin-bottom: 10rem;
}
.Detail-info {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.title_description {
  width: 100%;
  border-top: 1px solid;
  border-color: #999999;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Detail-describeactiveDT,
.Detail-describeunActiveDT {
  white-space: pre-line;
  color: black;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  padding-left: 2.5rem;
  line-height: 2;
  padding-right: 2.5rem;
}
.Detail-describeunActiveDT {
  display: none;
}

.Detail-Title {
  padding: 0 2rem;
  margin-top: -8px;
  color: #999999;
  border-top: 1px solid;
  cursor: pointer;
}
.Detail-Title:hover {
  color: #1976d2;
  border-top: 2px solid #1976d2;
}
.btnDetailTitle-active {
  color: #1976d2;
  border-top: 2px solid #1976d2;
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .wrapper-Detail-Product {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 739px) {
  .wrapper-Detail-Product {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
