.my-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}
.my-details-container .my-details-title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px;
}
.my-details-container .my-details-content {
    display: flex;
    flex-direction: column;
}
.my-details-container .my-details-content .my-details-general {
    display: flex;
    flex-direction: column;
}
.my-details-container .my-details-content .my-details-general .my-details-general-title {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px;
    border-bottom: 1px solid #c5c5c5;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content {
    display: flex;
    flex-direction: row;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .left {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .right {
    width: 50%;
    padding: 20px;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .right p {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .right .group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .left .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .left .avatar img {
    width:  150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .right .connect {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.my-details-container .my-details-content .my-details-general .my-details-general-content .right .connect .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}