.profile-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.profile-container .profile-title {
    padding: 20px 0px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 500;
}
.profile-container .profile-content {
    display: flex;
    flex-direction: row;
} 
.profile-container .profile-content .profile-details {
    padding: 30px;
    width: 80%;
}