.field-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
}
.field-input .delete-icon {
    position: absolute;
    right: 0;
    margin-right: 5px;
}
