.my-address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}
.my-address-container .my-address-title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0px;
}
.my-address-container .my-address-content {
    display: flex;
    flex-direction: column;
}